{
    "name": "UnityUIExtensionsEditor",
    "references": [
        "GUID:f30b392c074e52f4d85feab24cf1a5b0"
    ],
    "includePlatforms": [],
    "excludePlatforms": [],
    "allowUnsafeCode": false,
    "overrideReferences": false,
    "precompiledReferences": [],
    "autoReferenced": true,
    "defineConstraints": [],
    "versionDefines": [],
    "noEngineReferences": false
}